@import "../shared-css/styles.css";

.container-blog-post {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Author Info */

.container-author-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.author-img-avatar {
  display: flex;
  align-items: center;
}

.avatar {
  width: 80px;
  border-radius: 50%;
}

.author-info-text {
  text-align: left;
  line-height: 1.5;
  padding-left: 16px;
}

.author-info-text h4 {
  margin: 0 0 4px 0;
}

.author-info-line {
  display: block;
}

/* Article Text and Images */

.img-post1-portrait {
  width: 650px;
  border-radius: 8%;
}

.img-post1-landscape {
  width: 800px;
  border-radius: 2%;
}

figcaption {
  padding: 12px;
}

.post-text {
  max-width: 800px;
  margin: 52px auto 32px;
  text-align: left;
}

.post-text p {
  margin-top: 2rem;
}

.post-text blockquote {
  font-style: italic;
  font-weight: bold;
  border-left: 5px solid #53c7f0;
  margin: 40px 0;
  padding-left: 40px;
}

.link-title {
  font-family: "Baloo Da 2", cursive;
  color: #53c7f0;
  max-width: 400px;
  border-top: 1px dotted #53c6f036;
  border-width: 7px;
  margin: 80px auto 0;
  padding: 50px 0 20px;
}

.link-to-posts {
  display: flex;
  justify-content: space-evenly;
  max-width: 1024px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.link-to-posts img {
  max-width: 230px;
}

.link-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #53c7f0;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin-bottom: 28px;
}

.link-card:hover {
  transform: scale(1.05, 1.05);
}

.card-link-content {
  padding: 12px 24px 32px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-link-content h5 {
  margin: 0 0 12px;
}

/* Mobile Responsive */

@media (max-width: 767px) {
  .container-author-info {
    margin: 0 auto;
    padding: 20px 0 52px;
    max-width: 80vw;
  }

  .img-post1-portrait {
    width: 80vw;
  }

  .img-post1-landscape {
    width: 80vw;
  }

  .post-text {
    max-width: 300px;
  }

  .link-title {
    max-width: 250px;
  }

  .card-link-content h4 {
    margin-top: 8px;
  }
}

/* Tablet Responsive */

@media (min-width: 768px) and (max-width: 1024px) {
  .container-author-info {
    margin: 0 auto;
    padding: 20px 0 52px;
    max-width: 80vw;
  }

  .img-post1-portrait {
    width: 80vw;
  }

  .img-post1-landscape {
    width: 80vw;
  }

  .post-text {
    max-width: 500px;
  }

  .card-link-content h4 {
    margin-top: 8px;
  }
}
