/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #13334c;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #ffffe3;
  padding: 380px 0 40px 0;
  position: relative;
}

.subscribe-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -80px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: #53c7f0;
  padding: 40px;
  border-radius: 10px;
}

.subscribe-form h2 {
  margin: 0;
  font-family: "Baloo Da 2", cursive;
  color: #13334c;
  text-align: center;
}

.subscribe-form-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
}

.subscribe-form-text input {
  width: 100%;
}

.subscribe-form-text button {
  margin: 32px auto 0;
}

.social-icons-group {
  margin: 0 0 48px;
}

.social-icon {
  font-size: 1.8rem;
  color: #ffffe3;
  padding: 0 12px;
  transition: opacity 0.2s ease-in-out;
}

.social-icon:hover {
  color: #ccf2ff;
}

.credits {
  font-size: 0.9rem;
}

/* Mobile Responsive */

@media (max-width: 767px) {
  footer {
    padding-top: 412px;
  }

  .subscribe-form {
    border-radius: 0;
  }
}
