/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #13334c;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #ffffe3;
  padding: 350px 0 40px 0;
  position: relative;
}

.subscribe-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -80px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: #53c7f0;
  padding: 40px;
  border-radius: 10px;
}

.subscribe-form h2 {
  margin: 0;
  font-family: "Baloo Da 2", cursive;
  color: #13334c;
}

.subscribe-form-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
}

label {
  display: block;
  margin: 28px 0 8px;
  font-weight: normal;
  font-size: 1.1rem;
}

input {
  padding: 8px;
  border-style: none;
  border-radius: 4px;
  outline: none;
  color: #13334c;
}

.subscribe-form-text input {
  font-size: 1rem;
  width: 100%;
}

.subscribe-form-text button {
  border: none;
  border-radius: 10px;
  padding: 10px 24px;
  background-color: #9c0f0f;
  font-size: 1rem;
  cursor: pointer;
  margin: 32px auto 0;
  outline: none;
  color: #ffffe3;
}

.social-icons-group {
  margin: 0 0 48px;
}

.social-icon {
  font-size: 1.8rem;
  color: #ffffe3;
  padding: 0 12px;
  transition: opacity 0.2s ease-in-out;
}

.social-icon:hover {
  color: #ccf2ff;
}

.credits {
  font-size: 0.9rem;
}
